:root {
    --black: #000000;
    --grey-500: #1A1A1A;
    --grey-400: #888888;
    --grey-200: #C4C4C4;
    --grey-100: #D9D9D9;
    --white: #FFFFFF;

    --red-500: #A10A0B;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { 
    background: var(--black);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (min-width: 1440px) {
    html {
        font-size: 118,8%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

header {
    height: 70px;
    padding: 1em 2em;
}

header img {
    width: 130px;
}

section:nth-child(odd) {
    background-color: var(--grey-500);
}
    
.container {
    padding: 2em;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;

    display: grid;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.column-2 {
    grid-template-columns: 1fr 1fr;
}

.column-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "cell1 cell2"
    "cell3 cell3";
}

.column-4 {
    width: 100%;
    margin: 20px 0;

    display: flex;
    gap: 50px;
}

.column-7 {
    margin: 20px 0;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 50px;
}

.column-4 div,
.column-7 div {
    width: 100%;
    height: 150px;
    background-color: green;
}

.hero {
    width: 100%;
    max-width: 950px;
}

/* Bloco com titulo e texto */
.title-date-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-date-text h2{
    font-size: 3em;
}

.title-date-text > span {
    color: var(--grey-400);
    font-size: 2em;
}

.title-date-text p > span {
    font-weight: 700;
}

/* Seção Destaques */
.feature h1 {
    color: var(--grey-200);
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

.feature > span {
    font-size: 2.2em;
    font-weight: 500;
    font-style: italic;
}

.feature div {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    position: relative;
    bottom: 10px;
}

.feature div img{
    width: 100px;
    object-fit: cover;
}

/* Seção Sobre */
.about.container {
    gap: 80px;
}

.about .hero {
    width: 85%;
}

/* Seção Jornada */
.journey h2,
.journey h3 {
    text-align: center;
}

.journey h3 {
    font-size: 2em;
}

.journey > div {
    width: 100%;
}

/* Seção Quest 2 */
.quest-2 .title-date-text {
    grid-area: cell1;
}

.quest-2 ul {
    list-style-type: '+';
    font-size: 2em;

    grid-area: cell2;
}

.quest-2 .column-4 {
    grid-area: cell3;
}

.quest-2 ul li + li {
    padding-top: 1em;
}

/* Seção regulamento */
.scroller-container {
    background-color: var(--black);
    padding: 2em;
    padding-right: .5em;
    border-radius: 10px;
    max-width: 80%;
}

.scroller {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 1.5em;
}

::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--red-500);   
    border-radius: 10px;
}

/* Footer */
footer {
    position: relative;
    padding: 2em;

    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

footer img{
    width: 2    00px;
}

footer ul {
    list-style: none;

    display: flex;
    gap: 20px;
}

footer span {
    font-size: .8em;
}

footer > div {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

footer .go-up {
    width: 50px;
    height: 50px;
    background-color: var(--red-500);
    padding: 10px;
    border-radius: 100%;

    position: absolute;
    right: 2em;
    bottom: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer .go-up img {
    transform: scale(.8);
    filter: 
        brightness(0) 
        saturate(100%) 
        invert(100%) 
        sepia(4%) 
        saturate(284%) 
        hue-rotate(41deg) 
        brightness(116%) 
        contrast(100%);
}

@media screen and (max-width: 700px) {
    .column-2, .column-3{
        grid-template-columns: 1fr;
    }

    .column-3 {
        grid-template-areas: 
        "cell1"
        "cell2"
        "cell3";
    }

    .column-4 {
        flex-wrap: wrap;
    }

    .feature div {
        justify-content: center;
        margin: 2em 0;
    }

    .scroller-container {
        max-width: 90%;
    }
}