@import url(./sections/boss.css);
@import url(./carousel.css);
@import url(./sections/feature.css);
@import url(./sections/footer.css);
@import url(./global.css);
@import url(./sections/journey.css);
@import url(./sections/quest.css);
@import url(./sections/master.css);
@import url(./utils.css);

section.graphite {
    width: 100%;
    background-image: url(../img/alt/bg.png);
    background-size: cover;
    background-position: bottom center;
}

section.graphite.top {
    background-position: top center;
}

/* Seção Sobre */
.about.container {
    gap: 80px;
}

.about .hero {
    width: 85%;
}

.master .hero {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 5px black; 
    box-shadow: 0px 0px 20px 5px var(--black);
}

.container.regulamento {
    min-height: 0;
}

.regulamento h2 {
    font-size: 2rem;
}

/* Seção regulamento */
.scroller-container {
    background-color: var(--black);
    padding: 2em;
    padding-right: 0.5rem;
    border-radius: 10px;
    max-width: 50%;
}

.scroller {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 1.5rem;
}

@media screen and (max-width: 900px) {
    .scroller-container {
        max-width: 90%;
    }
}
