@import url(./sections/boss.css);
@import url(./carousel.css);
@import url(./sections/feature.css);
@import url(./sections/footer.css);
@import url(./global.css);
@import url(./sections/journey.css);
@import url(./sections/quest.css);
@import url(./sections/master.css);
@import url(./utils.css);

:root {
    --black: #000000;
    --grey-500: #1a1a1a;
    --grey-400: #888888;
    --grey-200: #c4c4c4;
    --grey-100: #d9d9d9;
    --white: #ffffff;

    --red-400: #be0506;
    --red-500: #a10a0b;
}

@font-face {
    font-family: templarshield;
    src: url(../font/templarshield.ttf);
}

header {
    height: 70px;
    padding: 1em 2em;
}

header img {
    width: 130px;
}

/* Seção Sobre */
.about.container {
    gap: 80px;
}

.about .hero {
    width: 85%;
}

/* Seção regulamento */
.scroller-container {
    background-color: var(--grey-500);
    padding: 2em;
    padding-right: 0.5em;
    border-radius: 10px;
    max-width: 80%;
}

.scroller {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 1.5em;
}

@media screen and (max-width: 900px) {
    .scroller-container {
        max-width: 90%;
    }
}
