/* Seção Boss */
.bosses {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    align-items: center;
    gap: 2em;
}

.card {
    height: 100%;
    width: 100%;
    background-color: var(--grey-500);
    border-radius: 5px;
    border: 3px solid var(--grey-400);
    position: relative;
    transform: skewX(5deg);
}

.card img {
    height: 350px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;

    object-fit: cover;
}

.card .game {
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: auto;

    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
}

.card .game.cod {
    background-image: url(../img/cod.png);
}

.card .game.fortnite {
    background-image: url(../img/fortnite.png);
}

.card span {
    display: block;
    width: 100%;
    font-size: 3em;
    font-family: "templarshield";
    text-align: center;
    color: var(--grey-400);
    padding: 10px 0;
}

@media screen and (max-width: 900px) {
    .bosses {
        display: none;
    }
}
