@import url(./utils.css);

/* Seção Destaques */

section:first-child {
    width: 100%;
    background-image: url(../../img/alt/bg.png);
    background-size: cover;
    background-position: bottom center;
}

.feature > a {
    width: 15em;
}

.feature > a img {
    width: 100%
}

.feature .hero {
    width: 65%;
}

.rewards {
    position: relative;
    font-size: 1.5rem;
    font-family: 'organetto';

    display: grid;
    grid-template-columns: 100px 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rewards:after, .rewards:before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    margin: 0 auto;
    background: var(--red-500); 
    position: absolute;
}

.rewards:after {
    left: 110%;
    background: linear-gradient(100deg, 
    rgba(161,10,11,1) 0%, 
    rgba(161,10,11,1) 25%, 
    rgba(255,255,255,0) 100%);
}

.rewards:before {
    right: 110%;
    background: linear-gradient(100deg, 
    rgba(255,255,255,0) 0%, 
    rgba(161,10,11,1) 25%, 
    rgba(161,10,11,1) 100%);
}

.rewards img {
    width: 100%;
    grid-column: 1;
}

.rewards p {
    width: 270px;
    text-align: center;
    text-transform: uppercase; 
    font-weight: 300;

    grid-column: 2;
}

.rewards p span {
    font-weight: 700; 
}

@media screen and (max-width: 900px) {
    .feature .hero {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .rewards {
        font-size: 1rem;
    }

    .rewards p {
        width: 165px;
    }
}